.challenge {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 45px;
  align-items: center;
}

.challenge button {
  margin-bottom: 10px;
}

.challenge input {
  width: 100%;
}
