.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 55px;
}

.dropdown:hover .dropdown-child {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.dropdown-child {
  z-index: 1;
  position: absolute;
  pointer-events: none;
  transform: translateY(-50px);
  opacity: 0;
  transition: 0.2s;
  font-family: "MuseoModerno", sans-serif;
  font-size: 20px;
}

.dropdown-child a {
  box-shadow: 4px 4px 0px 0px #000;
  color: black;
  background-color: white;
  margin: 10px 10px 0 0;
  text-decoration: none;
  display: block;
  border: 1px solid black;
  border-radius: 38px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  transition-property: background-color color;
  transition-duration: 0.5s;
  white-space: nowrap;
  padding: 6.5px 21px;
}

.dropdown-child a:hover {
  background-color: lightgray;
}
