.remove button {
  border: 1px solid transparent;
  box-shadow: none;
  background-color: transparent;
}

.remove-2 button {
  border: 1px solid transparent;
  box-shadow: none;
  background-color: transparent;
  display: flex;
}
