.top-card {
  background-color: #a56edf;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 31px 38px 11px 49px;
  margin-bottom: 23px;
}

.top-card-2 {
  background-color: #a56edf;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 31px 38px 11px 49px;
  margin-bottom: 10px;
}
