.top-card {
  background-color: #a56edf;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 31px 0 11px 0;
  margin-bottom: 23px;
}

.top-card-2 {
  background-color: #a56edf;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 31px 0 11px 0;
  margin-bottom: 10px;
}

.top-card-2 h2 {
  text-align: center;
}
